html {
  scroll-behavior: smooth;
}

.navbar.fixed {
  position: fixed;
}
.navbar-brand img {
  top: 0;
  width: 100px;
  display: flex;
  position: sticky;
}
.imgLogo {
  margin: -25px 25px;
  width: 90px;
}
.banner {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}
.banner img {
  height: 100vh;
  width: 100%;
  z-index: 0;
  object-fit: cover;
  width: 100%;
  position: absolute;
  filter: brightness(40%);
  overflow: hidden;
}
.banner-text {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-text h3 {
  color: red;
  font-weight: bold;

  font-size: max(4vw, 30px);
  text-align: center;
  text-shadow: 1px 1px 6px #000000;
}
.banner-text h1 {
  color: white;
  font-weight: bold;
  font-size: max(3vw, 20px);
  text-align: center;
}
.banner-text p {
  color: white;
  font-size: max(2vw, 12px);
  width: 550px;
  text-align: center;
}
.gallery-display-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
  margin-top: 30px;
  gap: 30px;
  row-gap: 50px;
  padding: 15px;
}
.gallery-item {
  width: 100%;

  border-radius: 15px;
  box-shadow: 0px 0px 10px #00000015;
  transition: 0.3s;
  animation: fadeIn 1s;
}
.gallery-item-image {
  max-width: 100%;
  border-radius: 15px 15px 0px 0px;
}
@media (max-width: 990px) {
  .imgLogo {
    display: none;
  }

}
@media (max-width: 780px) {
  .gallery-item {
    width: 85%;
  
}
